@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia+Glaze:wght@100..700&family=Modern+Antiqua&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --backgroundColor:#FDE2FF;
    --cardTitle: black;
    --cardBackground:#D7BCE8;
    --cardInfo:rgb(37, 36, 36);
    --readStatusButtonColor: #a792b4;

    --titleSize:3rem;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--backgroundColor);

    /* font-family: 'Inter',Arial, Helvetica, sans-serif; */
    font-family: 'Modern Antiqua',Arial, Helvetica, sans-serif;

}

.heading{
    font-family: 'Modern Antiqua',Arial, Helvetica, sans-serif;
    font-size: 3rem;
    display: flex;
}

.title{
    font-size: 1.5rem;
}


.addButton{
    width:8rem;
    height: 2.5rem;
    border-radius: 15px;
    font-family: 'Modern Antiqua',Arial, Helvetica, sans-serif;
    
}



.allBooks{
    display: flex;
    flex-wrap: wrap;

    height: 70vh;
    justify-content: center;
    align-items: center;
}

.bookCard{

    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--cardBackground);
    width: 18rem;
    height: 20rem;

    box-shadow: 4px 4px 10px var(--cardInfo);

}

.readStatusButtons{
    order: 1;
    margin-top: auto;
    border-radius: 0px 0px 10px 10px;
    border: 0px;
    height: 60px;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    background-color: var(--readStatusButtonColor);
    font-size: 1.3rem;
}


.info{
    color: var(--cardInfo);
    margin: 6px;
    font-size: 1.5rem;

}

.title{
    color: var(--cardTitle);
    margin: 6px;
    margin-bottom: 1px;
    font-size: clamp(2rem,50%,3rem)

    
}

.inputBox{
    justify-self: center;
    align-self: center;
    border-radius: 10px;

    width: 30%;
    height: 40%;

    text-align: center;
}

.inputForm{
    display: flex;
    flex-direction: column;
}


.inputBox * {
    margin: 5px;
    font-size: 1.4rem;
}

.titleBox,
.authorBox,
.pagesBox{
    border-radius: 10px;
    text-align: center;
    font-family: 'Modern Antiqua',Arial, Helvetica, sans-serif;

}

.inputBox::backdrop{
    backdrop-filter: blur(100px);
}

.inputBox{
    box-shadow: 3px 3px 100px #c887f6;
}

.readQ{
    font-size: 1rem;
}

.readStatus{
    width:1rem;
    height: 1rem;
    justify-self: center;
    align-self: center;

    position: relative;
    top: 2px;
}

.submitForm,
.cancel{
    background-color: #e5dcec;
    border: 1px solid black;
}
